body {
    margin-top: 75px;
}

.navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
    font-family: "Montserrat", sans-serif;
    /* font-weight: bold; */
    padding: 0 8px;
}

#showcase {
    position: relative;
    background: url("../img/save-the-sundarbans.jpg");
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.showcasebanner {
    padding-top: 3.5rem;
    width: 75%;
    margin-left: 8rem;
}

.showcasebtn {
    background: #525152;
    margin-top: 2rem;
}

#showcase .primary-overlay {
    background: rgb(174, 173, 174, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info-header {
    width: 100%;
    margin: auto;
}

#authors img {
    margin-top: -50px;
}

#authors .card:hover {
    background: #3292a6;
    color: #fff;
}

#authors .fab {
    color: #fff;
}

@media (max-width: 768px) {
    .navbar .nav-item,
    .navbar .nav-items {
        font-size: 0.9rem !important;
        padding: 0px;
    }

    .navbar img {
        width: 120px !important;
    }
}

@media (max-width: 768px) {
    #showcase {
        min-height: 500px;
    }

    #showcase h1 {
        font-size: 4rem;
    }

    .mb-resp {
        margin-bottom: 1rem;
    }

    #story p {
        margin-top: 1rem;
    }
}

#navbarNavDropdown .dropdown-menu {
    margin-top: 12px;
    font-family: "Montserrat", sans-serif;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#boxes a {
    text-decoration: none;
    cursor: pointer;
}

#boxes a:hover {
    text-decoration: none !important;
}

.txt-r-black {
    color: #272627;
}

.bg-g-crayola {
    background-color: #e7b573;
}

.bg-s-chalice {
    background-color: #aeadae;
}

.bg-d-gray {
    background-color: #525152;
}

.bg-alabaster {
    background-color: #f5f5ec;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.font-size-16 {
    font-size: 16px;
}

.font-monte {
    font-family: "Montserrat", sans-serif;
}

.font-lato {
    font-family: "Lato", sans-serif;
}

/* general styling for all the hovers */

.hover {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hover .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hover img {
    display: block;
    position: relative;
}

.hover h4 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}

/* .hover button.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  border-radius: 0px;
  background-color: transparent;
}

.hover button.info:hover {
  box-shadow: 0 0 5px #fff;
} */

/* styling to remove box shadow and border from buttons for last few effects */

/* .hover button.nullbutton {
  border: none;
  padding: 0px;
  margin: 0px;
} */

/* .hover button.nullbutton:hover {
  box-shadow: none;
} */

/* remove the blue line that shows on modal buttons after you have open and close a modal */

/* effect hover 2 */

.ehover2 img {
    max-height: 275px;
    height: 275px;
}

.ehover2 .overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.ehover2 .overlay a {
    color: #fff !important;
}

.ehover12 img {
    max-width: none;
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    max-height: 275px;
    height: 275px;
}

.ehover12:hover img {
    opacity: 0.4;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.ehover12 .overlay {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

.ehover12 h2 {
    position: relative;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
}

.ehover12 h2::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: "";
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.ehover12:hover h2::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.ehover12 button {
    color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.ehover12:hover button {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.video {
    color: #fff;
    line-height: 16;
}

.video a:hover {
    color: #fff;
}

#faq .card {
    border-radius: 10px;
    background-color: #fff;
    height: 100%;
}

#faq a {
    color: #fff;
    text-decoration: none;
}

#faq .card-body,
#faq .card-header {
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    text-align: center;
}

#faq a {
    color: #000;
    padding: 15px;
    width: 95%;
    border-radius: 25px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 23pt;
    font-weight: bold;
    opacity: 0.7;
}

#faq p {
    margin-top: 10px;
}

#testimonials .panel-left,
#testimonials .panel-right {
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#testimonials .test-left {
    border-right: 1px solid #ccc;
}

#testimonials h4 {
    font-size: 16pt;
}


/*------------------------*/
/*      Blog Page */
/*------------------------*/

.blog-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #fbfbfb;
  }
  
  .main-blog-content {
    background-color: #fff;
    padding-top: 1rem;
  }
  
  .recent-posts {
    background-color: #fff;
    padding-top: 1rem;
  }
  
  .blog-container article img {
    max-width: 100%;
    height: auto;
    margin: 13px auto;
  }
  
  .blog-container .recent-posts ul li {
    padding: 5px 0;
  }
  
  .testimonial {
    background-color: #aeadae;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  @media (max-width: 968px) {
    .recent-posts {
      display: none;
    }
  }
  
  /*------------------------*/
  /*      Testimonial Page */
  /*------------------------*/
  
  .avatar-image {
    max-width: 15%;
  }
  
  @media (max-width: 968px) {
    .avatar-image {
      max-width: 30%;
    }
  }
  