body {
    margin-top: 75px;
}

.navbar img {
  width: 140px;
}
.navbar .nav-item {
    font-size: 1rem;
    padding-right: 1.4rem;
    font-family: "Montserrat", sans-serif;
    /* font-weight: bold; */
    padding: 0 8px;
}

.navbar .nav-item .nav-link:hover {
  color: #333;

}








.showcasebanner {
    padding-top: 3.5rem;
    width: 75%;
    margin-left: 8rem;
}

.showcasebtn {
    background: #525152;
    margin-top: 2rem;
}

#showcase .primary-overlay {
    background: rgb(174, 173, 174, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info-header {
    width: 100%;
    margin: auto;
}

#authors img {
    margin-top: -50px;
}

#authors .card:hover {
    background: #3292a6;
    color: #fff;
}

#authors .fab {
    color: #fff;
}

@media (max-width: 768px) {
    .navbar .nav-item,
    .navbar .nav-items {
        font-size: 0.9rem !important;
        padding: 0px;
    }

    .navbar img {
        width: 120px !important;
    }
}

@media (max-width: 768px) {
   

    #showcase h1 {
        font-size: 4rem;
    }

    .mb-resp {
        margin-bottom: 1rem;
    }

    #story p {
        margin-top: 1rem;
    }
}

#navbarNavDropdown .dropdown-menu {
    margin-top: 12px;
    font-family: "Montserrat", sans-serif;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#boxes a {
    text-decoration: none;
    cursor: pointer;
}

#boxes a:hover {
    text-decoration: none !important;
}

.txt-r-black {
    color: #272627;
}

.bg-g-crayola {
    background-color: #e7b573;
}

.bg-s-chalice {
    background-color: #aeadae;
}

.bg-d-gray {
    background-color: #525152;
}

.bg-alabaster {
    background-color: #f5f5ec;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.font-size-16 {
    font-size: 16px;
}

.font-monte {
    font-family: "Montserrat", sans-serif;
}

.font-lato {
    font-family: "Lato", sans-serif;
}

/* general styling for all the hovers */

.hover {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hover .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hover img {
    display: block;
    position: relative;
}

.hover h4 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}

/* .hover button.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  border-radius: 0px;
  background-color: transparent;
}

.hover button.info:hover {
  box-shadow: 0 0 5px #fff;
} */

/* styling to remove box shadow and border from buttons for last few effects */

/* .hover button.nullbutton {
  border: none;
  padding: 0px;
  margin: 0px;
} */

/* .hover button.nullbutton:hover {
  box-shadow: none;
} */

/* remove the blue line that shows on modal buttons after you have open and close a modal */

/* effect hover 2 */

.ehover2 img {
    max-height: 275px;
    height: 275px;
}

.ehover2 .overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.ehover2 .overlay a {
    color: #fff !important;
}

.ehover12 img {
    max-width: none;
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    max-height: 275px;
    height: 275px;
}

.ehover12:hover img {
    opacity: 0.4;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.ehover12 .overlay {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

.ehover12 h2 {
    position: relative;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
}

.ehover12 h2::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: "";
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.ehover12:hover h2::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.ehover12 button {
    color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.ehover12:hover button {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.video {
    color: #fff;
    line-height: 16;
}

.video a:hover {
    color: #fff;
}

#faq .card {
    border-radius: 10px;
    background-color: #fff;
    height: 100%;
}

#faq a {
  text-decoration : none;
}

#faq a:hover {
  color:#666666
 
}

/*#faq a {
    color: #fff;
    text-decoration: none;
}*/

#faq .card-body,
#faq .card-header {
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    text-align: center;
}

/*#faq a {
    color: #000;
    padding: 15px;
    width: 95%;
    border-radius: 25px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 23pt;
    font-weight: bold;
    opacity: 0.7;
}*/

#faq p {
    margin-top: 10px;
}

#testimonials .panel-left,
#testimonials .panel-right {
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#testimonials .test-left {
    border-right: 1px solid #ccc;
}

#testimonials h4 {
    font-size: 16pt;
}


/*------------------------*/
/*      Blog Page */
/*------------------------*/

.blog-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #fbfbfb;
  }
  
  .main-blog-content {
    background-color: #fff;
    padding-top: 1rem;
  }
  
  .recent-posts {
    background-color: #fff;
    padding-top: 1rem;
  }
  
  .blog-container article img {
    max-width: 100%;
    height: auto;
    margin: 13px auto;
  }
  
  .blog-container .recent-posts ul li {
    padding: 5px 0;
  }
  
  .testimonial {
    background-color: rgb(156, 154, 154);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  @media (max-width: 968px) {
    .recent-posts {
      display: none;
    }
  }
  
  /*------------------------*/
  /*      Testimonial Page */
  /*------------------------*/
  
  .avatar-image {
    max-width: 15%;
  }
  
  @media (max-width: 968px) {
    .avatar-image {
      max-width: 30%;
    }
  }
  /*------------------------*/
  /*      Navigation Bar below nav*/
  /*------------------------*/

  .link__section {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 1.3rem; */
    padding-top: 1rem;
  }
  
  .link__section li {
    display: inline-block;
    /* transform: translateX(-25%); */
  }
  
  .link__section li a {
    padding: 0 4rem;
    font-size: 1.1rem;
    color: #525152;
    
  }
  
  
  @media (max-width: 1360px) {
    .link__section li a {
      padding: 0 2rem;
      font-size: 1.1rem;
      
    }
    
  }
  
  @media (max-width: 981px) {
    .link__section {
      padding-top: 2rem;
    }
    .link__section li a {
      padding: 0 1rem;
      font-size: 1rem;
      
    }
  }
  
  @media (max-width: 663px) {
    .link__section {
      display: none;
    }
  }


  
  .teamcard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .teamcard:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .teamcardcontainer {
    
    margin-left: 0px;
    margin-right: 0px;
    background-color: #f8f9fa;
  }

  

  .team-social a {
    font-size: 35px;
    color: #525152;
  }
  
  .team-social {
    padding-top: 0.5rem;
  }

/* Involve Buttons */

.buttons {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:11px;
	border:1px solid #706e6e;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:"Montserrat", sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:14px 49px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.buttons:hover {
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

/* Contact Section */
.contact-heading {
  font-size: 1.2rem;
}

.contact-info {
  font-size: 1.0rem;
}

/*Testimonial*/

.testimonialcontainer {
  margin-left: 0px;
  margin-right: 0px;
  background-color: #f8f9fa;
}

.testimonialcard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.testimonialcard:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.text-link {
  background-color : #525152 !important;
  /* font-weight: 600 !important; */
  color : white !important;
  border-radius: 20px;
}



.add-button {
  position:fixed;
  right:3rem;
  bottom:3rem;
  width: 56px;
  height: 56px;
  overflow: visible;
  -webkit-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
  -moz-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
  transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
  text-align: center;
  line-height: 56px;
  font-size: 28px;
  color: rgba(255,255,255,1);
}

.add-button a {
  text-decoration : none;
}

.add-button:before {
  position: relative;
  z-index: 100;
  content:"+";
  
}



.add-button:hover {
 
  color: rgba(255,255,255,0);
  transform: rotate(45deg);
}

.sub-button {
  position: absolute;
  display: inline-block;
  background-color: grey;
  color: rgba(255,255,255,0);
  width: 28px;
  height: 28px;
  line-height:48px;
  font-family: "FontAwesome";
  font-size: 12px;
  -webkit-transition: top .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    left .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    bottom .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    right .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    width .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    height .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    transform .1s ease 0s,
    border-radius .2s  ease .2s;
   -moz-transition: top .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    left .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    bottom .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    right .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    width .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    height .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    transform .1s ease 0s,
    border-radius .2s  ease .2s;
   transition: top .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    left .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    bottom .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    right .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    width .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    height .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    transform .1s ease 0s,
    border-radius .2s  ease .2s;
}

.tl {
  top: 0;
  left: 0;
  border-radius: 28px 0 0 0;
}

.tr {  
  top: 0;
  right: 0;
  border-radius: 0 28px 0 0;
}

.bl {
  bottom: 0;
  left: 0; 
  border-radius: 0 0 0 28px;
}

.br { 
  bottom: 0;
  right: 0;
  border-radius: 0 0 28px 0;
}


.tl:before {
  content:"Focus";
}

.tr:before {
  content:"Team";
}

.bl:before {
  content:"Blogs";
}

.br:before {
  content:"Initiative";
}


.add-button:hover .sub-button {
  width: 48px;
  height: 48px;
  transform: rotate(-45deg);
  
  color: rgba(255,255,255,1);
  -webkit-transition: top .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    left .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    bottom .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    right .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    width .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    height .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    color .3s ease .8s,
    transform .3s ease .8s,
    border-radius .4s  ease .6s;
   -moz-transition: top .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    left .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    bottom .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    right .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    width .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    height .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    color .3s ease .8s,
    transform .3s ease .8s,
    border-radius .4s  ease .6s;
   transition: top .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    left .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    bottom .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    right .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    width .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    height .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    color .3s ease .8s,
    transform .3s ease .8s,
    border-radius .4s  ease .6s;
}

.add-button:hover .tl {
  top: -25px;
  left: -25px;
  border-radius: 28px;
}

.add-button:hover .tr {  
  top: -25px;
  right: -25px;
  border-radius: 28px;
}

.add-button:hover .bl {
  bottom: -25px;
  left: -25px; 
  border-radius: 28px;
}

.add-button:hover .br { 
  bottom: -25px;
  right: -25px;
  border-radius: 28px;
}

@media (max-width: 663px) {
  .add-button {
    display: none;
  }
}


/* LogosPanel */
.card-container {
  padding-left: 70px;
}

#logo-card {
  max-width:70%;
}

@media (max-width: 663px) {
  .card-container {
    padding-left: 0px;
  }

  #logo-card {
    max-width: none;
  }
}

/* BlogListing Page */

.bloglist .bloglist-heading {
  font-weight: 600;
  font-size: 1.5rem;
}

.bloglist .bloglist-intro,
.bloglist-author,
.bloglist-date {
  font-size: 1rem;
}

.bloglist .bloglist-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem;
  margin-top: 1rem;
  max-width: 100%;
}

.bloglist .bloglist-card span a {
  color: black;
}