body {
    overflow-x: hidden;
}
.navbar {
    height: 120px;
    background-color: #fff;
    border: none;
    border-radius: 0;
}

.navbar h3 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.container-fluid {
    padding: 0;
}

.navbar-header {
    width: 100%;
    padding-left: 15px;
    background-color: #39556d;
    height: 100px;
}

.navbar-left {
    width: 40%;
}

.navbar-left img {
    float: left;
}

.navbar-left img:nth-child(1) {
    margin-top: 15px;
    margin-right: 25px;
}

.navbar-left img:nth-child(2) {
    margin-top: 27px;
}

.navbar-right {
    width: 60%;
    margin-right: 0px;
}

.navbar-right > ul.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

.navbar-right > ul.nav-menu > li.nav-menu-item {
    list-style: none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
}

.navbar-right > ul.nav-menu > li.nav-menu-item > a {
    font-family: "Montserrat", sans-serif;
    font-size: 32pt;
    color: #fff;
    text-decoration: none;
    line-height: 72px;
}
/*
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}
*/

/* .carousel-item {
    height: 450px;
}

.carousel-image-1 {
    background: url("../img/image1.jpg");
    background-size: cover;
}

.carousel-image-2 {
    background: url("../img/image2.jpg");
    background-size: cover;
}

.carousel-image-3 {
    background: url("../img/image3.jpg");
    background-size: cover;
} */

#home-heading {
    position: relative;
    /* background: url("../img/lights.jpg"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.light-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
}

#video-play {
    position: relative;
    min-height: 200px;
    background: url("../img/media.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 -300px;
    text-align: center;
    color: #fff;
}

#video-play a {
    color: #fff;
}

#page-header {
    height: 200px;
    /* background: url("../img/image1.jpg"); */
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
}

.about-img {
    margin-top: -50px;
}

.nav-row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-dark {
    color: #333;
}

.bg-dark {
    background-color: #39556d !important;
}
.color-blue {
    color: #39556d;
}

#faq .card {
    border-radius: 10px;
    background-color: #fff;
    height: 100%;
}

#faq a {
    color: #fff;
    text-decoration: none;
}

#faq .card-body,
#faq .card-header {
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    text-align: center;
}

#faq a {
    color: #000;
    padding: 15px;
    width: 95%;
    border-radius: 25px;
    background-color: #59d2e1;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 23pt;
    font-weight: bold;
}

#faq p {
    margin-top: 10px;
}

#main-footer {
    background: #39556d;
    text-align: center;
    color: #fff;
}

#main-footer .nav-item a {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.ml-0 {
    margin-left: 0px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.tc-FFF {
    color: #fff !important;
}

.bg-39556D {
    background-color: #39556d !important;
}

.container {
    position: relative;
    width: 100%;
    /* height: 100%; */
}

.panel-content {
    background: #fff;
    padding: 20px 0px 20px 40px;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

.panel-content p {
    line-height: 1.7;
    margin: 10px 15px 10px 70px;
}

.greyline {
    background-color: #444;
    height: 2px;
    width: 100%;
    margin-top: 10px;
}

#main-footer ul {
    list-style-type: none;
    width: 100%;
    float: left;
    padding-left: 0px;
}

#main-footer li {
    float: left;
}

#ourstory p {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.7;
}

#ourstory .panel-left,
#ourstory .panel-right {
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#testimonials .panel-left,
#testimonials .panel-right {
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#testimonials .test-left {
    border-right: 1px solid #ccc;
}

#testimonials h4 {
    font-size: 16pt;
}

#faq .faq-left {
    border-right: 1px solid #fff;
    min-height: 312px;
}

#gallery h1,
#testimonials h1,
#ourstory h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 23pt;
    font-weight: bold;
}

#info p {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
}

#gallery img {
    width: 100%;
    height: 240px;
}

#gallery .gal-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#banner a,
#banner img {
    width: 100%;
}

/* @media screen  and (max-width: 372px) {
  .navbar img{
    font-size: 22px !important;
  }
}

@media screen  and (min-width: 373px) and (max-width: 400px) {
  .navbar h3{
    font-size: 29px !important;
  }
} */

@media screen and (max-width: 767px) {
    .navbar a.navbar-brand {
        width: 75% !important;
    }

    .navbar img:nth-child(2) {
        width: 75% !important;
    }

    #testimonials .test-left,
    #faq .faq-left {
        border-right: none !important;
    }

    #main-footer li {
        float: none;
    }

    #video-play h1 {
        font-size: 28px !important;
    }
}
