/* Benefactors */

.container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
  }
  
  h2 {
	font-size: 26px;
	margin: 20px 0;
	text-align: center;
  }
  h2 small {
	font-size: 0.5em;
  }
  .responsive-table {
	  padding-left: 0;
	  padding-right: 0;
  }
  
  .responsive-table li {
	border-radius: 3px;
	padding: 25px 30px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
  }
  .responsive-table .table-header {
	background-color: #f5f5ec;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
  }
  .responsive-table .table-row {
	background-color: #ffffff;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .responsive-table .column-1 {
	flex-basis: 25%;
  }
  .responsive-table .column-2 {
	flex-basis: 25%;
  }
  .responsive-table .column-3 {
	flex-basis: 50%;
  }
 
  @media all and (max-width: 767px) {
	.responsive-table .table-header {
	  display: none;
	}
	.responsive-table li {
	  display: block;
	}
	.responsive-table .column {
	  flex-basis: 100%;
	}
	.responsive-table .column {
	  display: flex;
	  padding: 10px 0;
	}
	.responsive-table .column:before {
	  color: #6c7a89;
	  padding-right: 10px;
	  content: attr(data-label);
	  flex-basis: 50%;
	  text-align: right;
	}
  }